*{
    margin: 0;
}

#root{
    height: 100vh;
    background-color: rgb(2, 40, 107);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
button{
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

input{
    margin: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}