*{
    text-align: center;
    margin:30px;
    height:25vh;
}

.header{
    color:red;
    border: 1px solid black;
}

.main{
    color:rgb(24, 168, 149);
    border: 1px solid black;
}

.footer{
    color:rgb(191, 212, 28);
    border: 1px solid black;
}