*{
  margin: 0;
  font-family: cursive;
  font-size: 30px;
}

.container{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  margin: 10px;
  width: 300px;
  height: 50px;
}

#sub{
  margin: 10px;
  width: 308px;
  height: 56px;
}

