*{
    font-family: fantasy;
}

#card{
    border:1px solid black;   
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease;
}


#card:hover{
    transform: scale(1.2);
}

#root{
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px;
    margin-left: 12.5vh;
}

p{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

#btn{
    margin-left: 360px;
}

button{
    width: 300px;
    height: 100px;
}

h1{
    margin-left: 530px;
}