*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(164, 36, 36);
}

input{
  margin-bottom: 5px;
  padding: 10px;
  height: 50px;
  width: 300px;
}

#sub{
  width: 324px;
  height: 74px;

}